{% extends 'baslik.html' %}
{% load static %}
{% block content %}



    <div class="main-wrapper">
        <div class="page-wrapper">
            <div class="content container-fluid">

                {#            <div class="page-header">#}
                {#                <div class="row">#}
                {#                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">#}
                {#                        <h5 class="text-uppercase mb-0 mt-0 page-title">Exam list</h5>#}
                {#                    </div>#}
                {#                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">#}
                {#                        <ul class="breadcrumb float-right p-0 mb-0">#}
                {#                            <li class="breadcrumb-item"><a href="indeX-2.html"><i class="fas fa-home"></i> Home</a></li>#}
                {#                            <li class="breadcrumb-item"><a href="#">Exam</a></li>#}
                {#                            <li class="breadcrumb-item"><span> Exam list</span></li>#}
                {#                        </ul>#}
                {#                    </div>#}
                {#                </div>#}
                {#            </div>#}

                <div class="content-page">


                    {#                            <div class="row">#}
                    {#                                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">#}
                    {#                                    <div class="dash-widget dash-widget5">#}
                    {#                                        <span class="float-left"><img src="assets/img/dash/dash-1.png" alt="" width="80"></span>#}
                    {#                                        <div class="dash-widget-info text-right">#}
                    {#                                            <span>Students</span>#}
                    {#                                            <h3>60,000</h3>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {##}
                    {#                            </div>#}


                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="page-title">
                                                En Sık Hasta Olan Çalışanlar
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table custom-table">
                                                    <thead class="thead-light">
                                                    <tr>
                                                        <th>TC</th>
                                                        <th>Hastalık sayısı</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for personel in personeller %}
                                                        <tr>
                                                            <td>{{ personel.per_id}}</td>
                                                            <td>{{ personel.hastalik_sayim }}</td>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-6 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="page-title">
                                                En sık Hastalanan Covidli Personeller
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table custom-table">
                                                    <thead class="thead-light">
                                                    <tr>
                                                        <th>TC</th>
                                                        <th>Ad</th>
                                                        <th>Soyad</th>


                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for personel in covidli_personeller %}
                                                        <tr>
                                                            <td>{{ personel.tc }}</td>
                                                            <td>{{ personel.ad }}</td>
                                                            <td>{{ personel.soyad }}</td>
                                                        </tr>
                                                    {% endfor %}


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}



<body>


</body>









