{% extends 'baslik.html' %}
{% load static %}
{% block content %}



    <div class="main-wrapper">
        <div class="page-wrapper">


            <div class="content container-fluid">


                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="page-title">
                                            En Yaygın Üç Hastalık
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table custom-table">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th>Hastalık</th>
                                                    <th>Hasta Sayısı</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for secim in secimler %}
                                                    <tr>
                                                        <td>{{ secim.h_isim }}</td>
                                                        <td>{{ secim.d_count }}</td>


                                                    </tr>

                                                {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="page-title">
                                            En Yaygın 3 hastalığı taşıyan personeller
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table custom-table">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th>TC</th>
                                                    <th>Ad</th>
                                                    <th>Soyad</th>
                                                    <th>Hastalık</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for personel in personeller %}
                                                    <tr>
                                                        <td>{{ personel.tc }}</td>
                                                        <td>{{ personel.ad }}</td>
                                                        <td>{{ personel.soyad }}</td>
                                                        <td>{{ personel.h_isim }}</td>

                                                    </tr>
                                                {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}



<body>


</body>









