{% extends 'baslik.html' %}
{% load static %}
{% block content %}

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <h5 class="mb-0 mt-0 page-title">Covid Listesi</h5>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <ul class="breadcrumb float-right p-0 mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'baslik' %}"><i class="fas fa-home"></i> Ana
                                Sayfa</a></li>
                            <li class="breadcrumb-item"><span> Covid </span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-12">
                </div>
                <div class="col-sm-8 col-12 text-right add-btn-col">
                    <a href="{% url 'covid-olustur' %}" class="btn btn-primary float-right btn-rounded"><i
                            class="fas fa-plus"></i>
                        Ekle</a>
                </div>
            </div>
            <div class="content-page">

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="table-responsive">
                            <table class="table custom-table">
                                <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Personel</th>
                                    <th>Aşı Durumu</th>
                                    <th>Aşı Türü</th>
                                    <th>Doz</th>
                                    <th>Pozitif Tarih</th>
                                    <th>Negatif Tarih</th>
                                    <th class="text-right"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for covid_list in covid_listesi %}
                                    <tr>
                                        <td>
                                            <h2><a href="#">{{ covid_list.covid_id }}</a></h2>
                                        </td>
                                        <td>{{ covid_list.personel }}</td>

                                        {% if covid_list.asili_mi == True %}
                                            <td>Oldu</td>
                                        {% else %}
                                            <td>Olmadı</td>
                                        {% endif %}

                                        {% if covid_list.asi_tipi %}
                                            <td>{{ covid_list.asi_tipi }}</td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}

                                        {% if covid_list.doz %}
                                            <td>{{ covid_list.doz }}</td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}

                                        <td>{{ covid_list.p_tarih|date:"d/m/Y" }}</td>
                                        {% if covid_list.n_tarih %}
                                            <td>{{ covid_list.n_tarih|date:"d/m/Y" }}</td>
                                        {% else %}
                                            <td>Devam Ediyor</td>

                                        {% endif %}

                                        <td class="text-right">
                                            <a href="{% url 'covid-guncelleme' covid_list.covid_id %}">
                                                <i class="btn btn-success">Güncelle</i>
                                            </a>

                                            <a href="{% url 'covid-silme' covid_list.covid_id %}">
                                                <i class="btn btn-danger">Sil</i>
                                            </a>

                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}